{% extends 'base.html' %}

{% block title %}Add Department | Central Hub{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                Add New Department
            </div>

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Department Name</label>
                        <input type="text" 
                               name="department_name" 
                               class="form-control"
                               required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Teacher In Charge</label>
                        <select name="teacher_in_charge" class="form-select">
                            <option value="">Select Teacher</option>
                            {% for teacher in teachers %}
                                <option value="{{ teacher.id }}">
                                    {{ teacher.username }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="{% url 'department_list' %}" class="btn btn-secondary">
                            Cancel
                        </a>

                        <button type="submit" class="btn btn-success">
                            Save Department
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}