{% extends 'base.html' %}

{% block title %}Dashboard | Central Hub{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<h3 class="mb-4 text-center fw-bold">Welcome back, <strong>{{ user.username|title}}</h3>
{% endif %}

<div class="row g-4 justify-content-center">

    <!-- Devices -->
    <div class="col-md-3">
        <div class="card text-center shadow-sm h-100">
            <div class="card-body">
                <h6 class="card-title text-dark">Total Devices</h6>
                <h2 class="fw-bold">{{ device_count }}</h2>
                <a href="{% url 'device_list' %}" class="btn btn-primary btn-sm mt-3">
                    View Devices
                </a>
            </div>
        </div>
    </div>

    <!-- Issues -->
    <div class="col-md-3">
        <div class="card text-center shadow-sm h-100">
            <div class="card-body">
                <h6 class="card-title text-dark">Reported Issues</h6>
                <h2 class="fw-bold">{{ issue_count }}</h2>
                <a href="{% url 'issue_list' %}" class="btn btn-primary btn-sm mt-3">
                    View Issues
                </a>
            </div>
        </div>
    </div>

    <!-- Users -->
    <div class="col-md-3">
        <div class="card text-center shadow-sm h-100">
            <div class="card-body">
                <h6 class="card-title text-dark">Total Users</h6>
                <h2 class="fw-bold">{{ user_count }}</h2>
                <a href="{% url 'user_list' %}" class="btn btn-primary btn-sm mt-3">
                    View Users
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
