{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card p-4 shadow-sm">

        <h4 class="text-center mb-4">Edit User</h4>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mb-3 align-items-center">
                <label class="col-md-3 col-form-label">Username</label>
                <div class="col-md-6">
                    {{ form.username }}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label class="col-md-3 col-form-label">Email</label>
                <div class="col-md-6">
                    {{ form.email }}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label class="col-md-3 col-form-label">Phone</label>
                <div class="col-md-6">
                    {{ form.phone }}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label class="col-md-3 col-form-label">DOB</label>
                <div class="col-md-6">
                    {{ form.dob }}
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Address</label>
                <div class="col-md-6">
                    {{ form.address }}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label class="col-md-3 col-form-label">Profile Image</label>
                <div class="col-md-6">
                    {{ form.profile_image }}
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success px-4">Update</button>
                <a href="{% url 'user_details' form.instance.user_id %}" class="btn btn-secondary px-4">Cancel</a>
            </div>

        </form>

    </div>
</div>

{% endblock %}